@import "../../../styles/index.scss";

.not-saved-modal {
  &__overlay {
    background: rgba($title-color, 0.25);
    padding: 20px;
  }

  &--open {
    > #root {
      filter: blur(5px);
    }
  }

  &__container {
    max-width: 500px;
    width: 100%;
    border-radius: 2px;
    padding: 20px;
    overflow: scroll;
  }

  &--enter {
    opacity: 0;
  }

  &--enter-active {
    opacity: 1;
    transition: all 300ms ease;
  }

  &--exit {
    opacity: 1;
  }

  &--exit-active {
    opacity: 0;
    transition: all 300ms ease;
  }
}

.not-saved {
  width: 100%;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 20px;
    overflow: hidden;
    margin: 0 -20px -20px;

    &::before {
      content: "";
      opacity: 0.35;
      background-image: linear-gradient(180deg, #edf4f4 1%, #bdcdcd 15%);
      position: absolute;
      width: 200vw;
      height: 300vw;
      border-radius: 50%;
      top: 0;
      z-index: 0;
    }

    &__wrapper {
      width: 100%;
      z-index: 1;
    }

    &__info {
      font-family: $font-optima;
      text-align: center;
      font-size: 16px;
      color: $title-color;
      
      &:not(:first-child) {
        margin-top: 20px;
      }
    }

    &__cta {
      margin-top: 30px;

      &__content {
        height: 50px;
        display: flex;
        padding: 15px 25px;
        align-items: center;
        justify-content: center;
      }

      &__title {
        color: $title-color;
        font-family: $font-cormorant;
        font-style: italic;
        font-size: 20px;
        font-weight: bold;
      }

      &__icon {
        & > svg {
          margin-left: 20px;
        }
      }
    }

    &__go-back {
      margin-top: 20px;
      text-align: center;
      font-family: $font-optima;
      font-size: 16px;

      & > a {
        color: $sub-title-color;
        text-decoration: underline;
      }
    }
  }

  &__close {
    width: 100%;
    text-align: right;
    &__button {
      border-color: transparent;
      background-color: transparent;

      &:hover {
        border-color: transparent;
        background-color: transparent;
        box-shadow: none;
        outline: none;
      }

      &:active {
        border-color: transparent !important;
        background-color: transparent !important;
        box-shadow: none !important;
        outline: none !important;
      }

      &:focus {
        border-color: transparent !important;
        background-color: transparent !important;
        box-shadow: none !important;
        outline: none !important;
      }
    }
  }
}
