@import '../../../styles/index.scss';

.myToast {
    position: absolute;
    bottom: 20px;
    z-index: 9999999;
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: center;

    &.disabled {
        opacity: 0;
        transition: all 500ms ease;
    }

    &.enabled {
        opacity: 1;
        transition: all 500ms ease;
    }

    &__wrapper {
        background-color: rgba($secondary-color, 0.7);
        color: $title-color;
        border-radius: 5px;
        padding: 5px 20px;
        font-family: $font-optima;
    }
}